<div class="navigation">
    <!-- Header Session -->
  <div class="header-container">
    <div class="d-flex align-items-center">
      <img src="{{ currentUser?.imagePath }}" class="user-avt" />
      <h1>Chat</h1>
    </div>
  </div>
  <!-- Search Session  -->
  <div class="search-container">
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <!-- Navigation Session  -->
  <div class="navigation-container">
    <ng-container *ngFor="let user of userList">
      <div class="navigate-item" (click)="navigateToUser(user)">
        <div class="d-flex align-items-center">
          <img src="{{ user?.imagePath }}" class="user-avt" />
          <div>
            <h3>{{user?.email}}</h3>
          </div>     
        </div>
      </div>
    </ng-container>
  </div>
</div>
